@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

/* font-family */
/* font-family: "Poppins", sans-serif;
font-family: "Dancing Script", cursive; */

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
  width: 100%;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.wrapper {
  /* (1170px + 40px) */
  max-width: 1210px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
:root {
  --orange: #fa5625;
  --gray: #4b4f54;
  --smooth: all 0.2s ease-in;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

/* Header */
header {
  width: 100%;
  height: 86px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #eee;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo p {
  font-size: 24px;
  font-weight: 800;
}
.navbar__links {
  display: flex;
  align-items: center;
}
.navbar__link {
  list-style: none;
  margin-right: 40px;
}
.navbar__link a {
  text-decoration: none;
  color: black;
}
.navbar__link a:hover {
  color: var(--orange);
  transition: var(--smooth);
}
.navbar__bars,
.navbar__close {
  display: none;
  width: 20px;
  height: 20px;
}

/* .navbar__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
} */

/* navbar-icon for tablet and mobile */
@media screen and (max-width: 1023px) {
  .navbar__bars {
    display: block;
  }
  .navbar__close {
    position: absolute;
    display: block;
    top: 10px;
    right: 12px;
    z-index: 5;
  }
  .navbar__links {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    background-color: white;
    z-index: 1;
    flex-direction: column;
    border-left: 1px solid #eee;
    padding: 50px 15px;
    max-width: 300px;
    transform: translateX(100%);
    transition: var(--smooth);
  }
  .is-active {
    transform: translateX(0);
    transition: var(--smooth);
  }
  .navbar__link {
    display: block;
    padding: 20px;
    margin-right: 0;
  }
}

/* Hero */
.hero {
  margin-top: 86px;
}

.hero__container {
  background-image: url(./image/hero-img.jpg);
  background-color: gray;
  height: 300px;
  min-height: 250px;
  background-size: cover;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero__heading,
.hero__subheading {
  color: white;
}

.hero__heading {
  display: block;
  font-size: 32px;
  font-weight: 800;
}

.hero__subheading p {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 8px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

/* Menu */
.menu {
  margin-top: 115px;
  margin-bottom: 50px;
}
.menu__header {
  text-align: center;
  margin-bottom: 15px;
}
.menu__header span {
  font-family: "Dancing Script", cursive;
  font-size: 34px;
  color: var(--orange);
}
.menu__header h2 {
  font-size: 32px;
  margin-top: 4px;
  line-height: 0.3;
}
.menu__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__dish {
  width: 370px;
  text-align: center;
}
.menu__dish h3 {
  font-size: 24px;
  margin-bottom: 20px;
}
.menu__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 0;
  border-bottom: 1px dashed #c7c7c7;
}
.menu__content:last-child {
  border-bottom: 0;
}
.menu__content img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.dish-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
}
.dish-content__description {
  color: #c7c7c7;
}
.dish-content__cost {
  font-size: 20px;
  font-weight: medium;
  color: #c7c7c7;
}

/* Mobile */
@media screen and (max-width: 739px) {
  .hero__container {
    height: 250px;
  }
  .hero__heading {
    font-size: 28px;
  }
  .menu__header span {
    font-size: 30px;
  }
  .menu__header h2 {
    font-size: 28px;
  }
  .menu {
    margin-top: 60px;
  }
  .menu__body {
    flex-wrap: wrap;
    justify-content: center;
  }
  .menu__dish {
    margin-top: 30px;
  }
}

/* Tablet */
@media screen and (min-width: 740px) and (max-width: 1023px) {
  .menu {
    margin-top: 80px;
  }
  .menu__body {
    flex-wrap: wrap;
    justify-content: center;
  }
  .menu__dish {
    width: 500px;
    margin-top: 30px;
  }
}
